html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box
}

a {
    color: #fdcb46;
    text-decoration: none
}

header {
    display: flex;
    justify-content: center;
    background-color: #579c87;
}

h1 {
    font-size: 95px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fdcb46
}

footer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    padding: 10px 30px 10px 30px;
    background-color: #579c87;
    color: #fdcb46;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wiggle:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg)
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg)
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg)
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg)
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg)
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg)
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg)
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg)
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg)
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg)
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

@media screen and (max-width: 1260px){
    body{
        width: 100%;
    }

    h1{
        font-size: 80px;
    }

    footer{
        padding: 8px 20px 8px 20px;
        font-size: 28px;
    }
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
    }

    h1{
        font-size: 75px;
    }

    footer{
        padding: 7px 18px 7px 18px;
        font-size: 26px;
    }
}

@media screen and (max-width: 600px){
    body{
        width: 100%;
    }

    h1{
        font-size: 70px;
    }

    footer{
        padding: 6px 16px 6px 16px;
        font-size: 20px;
    }
}

@media screen and (max-width: 320px){
    body{
        width: 100%;
    }

    h1{
        font-size: 50px;
    }

    footer{
        padding: 5px 15px 5px 15px;
        font-size: 15px;
    }
}