h2 {
    color: rgb(253, 203, 70);
    font-size: 28px;
}

section {
    background-color: rgb(249, 249, 249);
    margin: 50px;
}

article {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 30px;

}

.la_loi {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

@media screen and (max-width: 768px) {
   .la_loi{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .la_loi{
         font-size: 16px;
     }
 }

 @media screen and (max-width: 320px) {
    .la_loi{
         font-size: 14px;
     }
 }