article {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    height: 1150px;
    width: 700px;
    background-color: rgb(237, 239, 239);
    border: 1px solid rgb(237, 239, 239);
    box-shadow: 2px 0px 16px 0px grey
}

.menu {
    display: flex;
    flex-direction: column;
    height: 1050px;
    width: 700px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-top: 80px;
}

h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    background: -webkit-linear-gradient(-45deg, rgb(0, 34, 168), rgb(135, 237, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 80px;
}

h4 {
    margin: auto;
    font-family: 'Caveat', cursive;
    font-size: 27px;
    font-weight: lighter;

}

.menu p {
    font-family: 'Caveat', cursive;
    font-size: 22px;
    padding: 0px 90px 0px 90px;
}

.texte_menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title_border {
    display: flex;
    justify-content: space-evenly;
}

.border_left {
    margin: auto;
    width: 220px;
    height: 25px;
}

.border_right {
    margin: auto;
    width: 220px;
    height: 20px;
}

.border_left2 {
    margin: auto;
    width: 220px;
    height: 24px;
}

.border_right2 {
    margin: auto;
    width: 220px;
    height: 20px;
}

.border_left3 {
    margin: auto;
    width: 220px;
    height: 27px;
}

.border_right3 {
    margin: auto;
    width: 220px;
    height: 23px;
}

.price {
    float: right;
    font-size: 25px;
}

.underline{
    text-decoration: none;
    background: linear-gradient(to top, rgb(0, 34, 168)3px, transparent 10.00%) no-repeat left bottom / 0 100%;
    transition: background-size 1s cubic-bezier(1,-0.02,0,1.17);
  }

  .underline2{
    text-decoration: none;
    background: linear-gradient(to top, rgb(44, 76, 202)3px, transparent 10.00%) no-repeat left bottom / 0 100%;
    transition: background-size 1s cubic-bezier(1,-0.02,0,1.17);
  }

  .underline3{
    text-decoration: none;
    background: linear-gradient(to top, rgb(57, 116, 243)3px, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size 1s cubic-bezier(1,-0.02,0,1.17);
  }
  
.underline:hover, .underline2:hover, .underline3:hover {
    background-size: 100% 100%;
}

@media screen and (max-width: 1260px) {
    h2 {
        font-size: 30px;
        margin-top: 50px
    }

}

@media screen and (max-width: 768px) {
    .container {
        height: 1300px;
        width: 580px;
    }

    h2 {
        font-size: 28px;
        margin-top: 45px
    }

    h3 {
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    h4 {
        font-size: 27px;
    }

    .menu p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 22px;
    }

    .texte_menu {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .border_left {
        width: 170px;
        height: 20px;
    }

    .border_right {
        width: 170px;
        height: 16px;
    }

    .border_left2 {
        width: 170px;
        height: 20px;

    }

    .border_right2 {
        width: 170px;
        height: 16px;
    }

    .border_left3 {
        width: 170px;
        height: 21px;
    }

    .border_right3 {
        width: 170px;
        height: 18px;
    }

    .price {
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        margin-top: 7px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: 1120px;
        width: 470px;
    }

    h3 {
        font-size: 45px;
        margin-bottom: 65px;
    }

    h4 {
        display: flex;
        margin: auto;
        font-size: 27px;
    }

    .menu p {
        display: flex;
        flex-direction: column;
        margin: auto;
        font-family: 'Caveat', cursive;
        font-size: 21px;
    }

    .border_left,
    .border_right,
    .border_left2,
    .border_right2,
    .border_left3,
    .border_right3 {
        width: 130px;
    }

    .border_right {
        height: 16px;
    }

    .border_right2 {
        margin-top: 10px;
        height: 17px;
    }

    .price {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 500px){
    .container {
        height: 1050px;
        width: 300px;
    }

    h3{
        font-size: 35px;
        margin-bottom: 55px;
    }

    h4 {
        display: flex;
        margin: auto;
        font-size: 24px;
    }

    .menu p {
        font-size: 18px;
        padding: 0px 20px 0px 20px;
    }

    .border_left,
    .border_right,
    .border_left2,
    .border_right2,
    .border_left3,
    .border_right3 {
        width: 60px;
    }

    .border_left {
        height: 15px;
    }

    .border_left2 {
        height: 13px;
    }

    .border_right {
        height: 11px;
    }

    .border_right2 {
        margin-top: 9px;
        height: 11px;
    }

    .border_left3 {
        margin-top: 7px;
        height: 15px;
    }

    .border_right3 {
        margin-top: 8px;
        height: 14px;
    }

    .price {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        height: 1120px;
        width: 270px;
    }

    h3 {
        font-size: 30px;
        margin-bottom: 55px;
    }

    h4 {
        display: flex;
        margin: auto;
        font-size: 20px;
    }

    .menu {
        height: 1120px;
        width: 270px;
    }
}