article {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    height: 1050px;
    width: 700px;
    background-color: rgb(255, 245, 254);
    border: 1px solid rgb(255, 245, 254);
    box-shadow: 2px 0px 16px 0px grey
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 1050px;
    width: 800px;
}

h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-top: 80px;
}

h3{
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    text-align: center;
    background: -webkit-linear-gradient(-45deg, rgb(170, 98, 16), rgb(143, 90, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 80px;
}

h4{
    margin: auto;
    font-size: 23px;
}

.menu p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding: 0px 60px 0px 60px;
}

.title1, .title2, .title3{
    display: flex;
    justify-content: space-evenly; 
}

.title1{
    color:rgb(170, 98, 16) ;
}

.title2{
    color: rgb(168, 92, 153);
}

.title3{
    color: rgb(110, 76, 204);
}

.border_left, .border_right, .border_left2, .border_right2, .border_left3, .border_right3{
    margin: auto;
    width: 200px;
}

.border_left{
    height: 15px;
}

.border_right{
    height: 25px;
}

.border_left2{
    height: 25px;
}

.border_right2{
    height: 29px;
}

.border_left3{
    height: 25px;
}

.border_right3{
    height: 31px;
}

.appetit{
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgb(170, 98, 16) ;
}

.papilles{
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgb(168, 92, 153) ;
}

.sucrees{
    margin-top: 35px;
    color: rgb(110, 76, 204);
}

.price, .price2{
    float: right;
}

.underline{
    text-decoration: none;
    background: linear-gradient(to top, rgb(170, 98, 16)3px, transparent 10.00%) no-repeat left bottom / 0 100%;
    transition: background-size 1s cubic-bezier(1,-0.02,0,1.17);
  }

  .underline2{
    text-decoration: none;
    background: linear-gradient(to top,  rgb(168, 92, 153)3px, transparent 10.00%) no-repeat left bottom / 0 100%;
    transition: background-size 1s cubic-bezier(1,-0.02,0,1.17);
  }

  .underline3{
    text-decoration: none;
    background: linear-gradient(to top, rgb(110, 76, 204)3px, transparent 10.00%) no-repeat left bottom / 0 100%;
    transition: background-size 1s cubic-bezier(1,-0.02,0,1.17);
  }
  
.underline:hover, .underline2:hover, .underline3:hover {
    background-size: 100% 100%;
}

@media screen and (max-width: 1260px) {
    h2 {
        font-size: 30px;
        margin-top: 50px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 35px;
        margin-bottom: 80px;
        height: 1100px;
        width: 580px;
    }
    
    h2 {
        font-size: 28px;
        margin-top: 45px;
    }

    h3{
    font-size: 47px;
    margin-top: 80px;
    margin-bottom: 70px;
    }

    h4{
        font-size: 20px;
    }

    .menu p{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }

    .menu{
        height: 900px;
        width: 580px;
    }

    .border_left, .border_right, .border_left2, .border_right2, .border_left3, .border_right3{
        display: flex;
        margin: auto;
        width: 150px;
    }

    .appetit{
        margin-top: 20px;
        margin-bottom: 25px;
    }
    
    .papilles{
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .price,.price2{
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-top: 7px;
    }

}

@media screen and (max-width: 600px){
    .container {
        height: 1000px;
        width: 470px;
    }
    
    h2 {
        font-size: 26px;
    }

    h3{
        font-size: 42px;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    h4{
        font-size: 17px;
    }

    .menu p{
        font-size: 16px;
    }

    .menu{
        height: 1000px;
        width: 470px;
    }

    .border_left, .border_right, .border_left2, .border_right2, .border_left3, .border_right3{
        width: 110px;
    }
    
    .border_left{
        height: 11px;
    }

    .border_right{
        height: 18px;
    }

    .border_left2{
        height: 16px;
    }

    .border_right2{
        height: 21px;
    }

    .border_left3{
        height: 17px;
    }

    .border_right3{
        height: 21px;
    }

}

@media screen and (max-width: 500px){
    .container {
        height: 1050px;
        width: 300px;
    }
    
    h3{
        font-size: 37px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    h4{
        font-size: 16px;
    }

    .menu p{
        font-size: 15px;
        padding: 0px 40px 0px 40px;
    }

    .menu{
        height: 1000px;
        width: 400px;
    }

    .appetit, .sucrees, .papilles{
        margin-top: 15px;
    }

    .border_left, .border_right, .border_left2, .border_right2, .border_left3, .border_right3{
        width: 45px;
    }

    .border_left{
        height: 6px;
    }

    .border_right{
        height: 9px;
    }

    .border_left2{
        height: 8px;
    }

    .border_right2{
        height: 11px;
    }

    .border_left3{
        height: 8px;
    }

    .border_right3{
        height: 11px;
    }
}

@media screen and (max-width: 320px){
    .container {
        height: 950px;
        width: 270px;
    }
    
    h3{
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h4{
        font-size: 15px;
    }

    .menu p{
        font-size: 14px;
        padding: 0px 30px 0px 30px;
    }

    .menu{
        height: 1000px;
        width: 270px;
        padding: 5px;
    }
}