#menus_haut {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

#menus_bas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 565px;
    background-color: #fcdfdb;
    border: 1px solid #fcdfdb;
    box-shadow: 2px 0px 16px 0px grey
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 565px;
    background-color: rgb(255, 245, 254);
    border: 1px solid rgb(255, 245, 254);
    box-shadow: 2px 0px 16px 0px grey
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 565px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(241, 241, 241);
    box-shadow: 2px 0px 16px 0px grey
}

.container3 p h4{
    padding: 0px 5px 0px 5px;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 565px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 2px 0px 16px 0px grey
}

.nom_menu1 {
    font-family: 'Courgette', cursive;
    color: rgb(61, 19, 25);
    font-size: 45px;
}

.menu_type1 {
    font-style: italic;
    color: rgb(61, 19, 25);
    font-size: 55px;
}

.note_musique {
    height: 80px;
    width: 90px;
}

.nom_menu2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 60px;
    background: -webkit-linear-gradient(-45deg, rgb(199, 116, 18), rgb(143, 90, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_type2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 60px;
    color: rgb(199, 116, 18);
}

.nom_menu3 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding: 0px 5px 0px 5px;
    background: -webkit-linear-gradient(-360deg, rgb(0, 34, 168), rgb(87, 230, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_type3 {
    font-family: 'Caveat', cursive;
    font-size: 80px;
    color: rgb(0, 34, 168);
}

.nom_menu4 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 70px;
    padding: 0px 5px 0px 5px;
    background: -webkit-linear-gradient(360deg, rgb(73, 156, 64), rgb(128, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_type4 {
    font-family: 'Caveat', cursive;
    font-size: 80px;
    color: rgb(73, 156, 64);
}

.effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    opacity: 1;
}

.effect:hover {
    transform: scale(1.10);
    opacity: 0.60;
}

h6{
    font-size: 40px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: #579c87;
    border: 1px solid #589c88 ;
    color: #fdcb46;
    border-radius: 10px;
    max-width: 565px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.suspension_anime:after {
    display: inline-block;
    animation: suspension steps(1, end) 2s infinite;
    content: '';
}

@keyframes suspension {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }

    100% {
        content: '';
    }
}

@media screen and (max-width: 1260px) {
    #menus_haut,
    #menus_bas {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        margin: auto;
        margin-bottom: 80px;
    }

    .container2{
        display: flex;
        margin: auto;
        margin-bottom: 80px;
    }

    .container3 {
        display: flex;
        margin: auto;
        margin-bottom: 80px;
    }

    .container4 {
        display: flex;
        margin: auto;
        margin-bottom: 80px;
    }
    .prochainement {
        margin-left: 27%;
        margin-right: 27%;
    }
}

@media screen and (max-width: 768px) {    
    .container {
        height: 650px;
        width: 425px;
    }

    .container2 {
        height: 650px;
        width: 425px;
    }

    .container3 {
        height: 650px;
        width: 425px;
       
    }

    .container4 {
        height: 650px;
        width: 425px;
    }

    .nom_menu1 {
        font-family: 'Courgette', cursive;
        color: rgb(61, 19, 25);
        font-size: 37px;
        
    }

    .menu_type1 {
        font-style: italic;
        color: rgb(61, 19, 25);
        font-size: 40px;
    }

    .note_musique {
        height: 75px;
        width: 85px;

    }

    .nom_menu2 {
        font-size: 40px;

    }

    .menu_type2 {
        font-size: 50px;
    }

    .nom_menu3 {
        font-size: 40px;
 
    }

    .menu_type3 {
        font-size: 60px;
        color: rgb(0, 34, 168);
    }

    .nom_menu4 {
        font-size: 45px;
  
    }

    .menu_type4 {
        font-size: 60px;
        color: rgb(73, 156, 64);
    }

    h6{
        font-size: 32px;
        padding: 10px 0px 10px 0px;
        margin: auto;
        max-width: 425px;
        margin-bottom: 80px;
        margin-top: 100px;
    }

    .effect:hover {
        transform: scale(1.05);
        opacity: 0.70;
    }

}

@media screen and (max-width: 600px) {    
    .container {
        height: 650px;
        width: 425px;
    }

    .container2 {
        height: 650px;
        width: 425px;
    }

    .container3 {
        height: 650px;
        width: 425px;
    }

    .container4 {
        height: 650px;
        width: 425px;
    }

    .nom_menu1 {
        font-family: 'Courgette', cursive;
        color: rgb(61, 19, 25);
        font-size: 37px;
    }

    .menu_type1 {
        font-style: italic;
        color: rgb(61, 19, 25);
        font-size: 40px;
    }

    .note_musique {
        height: 75px;
        width: 85px;
    }

    .nom_menu2 {
        font-size: 40px;
    }

    .menu_type2 {
        font-size: 50px;
    }

    .nom_menu3 {
        font-size: 40px;

    }

    .menu_type3 {
        font-size: 60px;
    }

    .nom_menu4 {
        font-size: 45px;

    }

    .menu_type4 {
        font-size: 60px;
    }

    h6{
        font-size: 32px;
        max-width: 425px;
        margin-bottom: 80px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px){  
    .container {
        height: 650px;
        width: 370px;
    }

    .container2 {
        height: 650px;
        width: 370px;
    }

    .container3 {
        height: 650px;
        width: 370px;
    }

    .container4 {
        height: 650px;
        width: 370px;
    }

    .nom_menu1 {
        font-size: 33px;
    }

    h6{
        font-size: 28px;
        max-width: 370px;
    }
    
}

@media screen and (max-width: 400px) {
    .container {
        height: 500px;
        width:300px;

    }

    .container2 {
        height: 500px;
        width: 300px;
    }

    .container3 {
        height: 500px;
        width: 300px;
    }

    .container4 {
        height: 500px;
        width: 300px;

    }

    .nom_menu1 {
        font-size: 20px;
    }

    .menu_type1 {
        font-size: 35px;
    }

    .note_musique {
        height: 55px;
        width: 65px;
    }

    .nom_menu2 {
        font-size: 27px;

    }

    .menu_type2 {
        font-size: 40px;
    }

    .nom_menu3 {
        font-size: 30px;

    }

    .menu_type3 {
        font-size: 50px;
    }

    .nom_menu4 {
        font-size: 35px;

    }

    .menu_type4 {
        font-family: 'Caveat', cursive;
        font-size: 50px;
        color: rgb(73, 156, 64);
    }
    
    h6{
        font-size: 20px;
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        width:270px;

    }

    .container2 {
        width: 270px;
    }

    .container3 {
        width: 270px;
    }

    .container4 {
        width: 270px;

    }

    h6{
        font-size: 18px;
        max-width: 270px;

    }
}