h2 {
    color: rgb(253, 203, 70);
    font-size: 28px;
}

section {
    background-color: rgb(249, 249, 249);
    text-align: justify;
    margin: 3%;
}

article{
    padding: 2%;
    margin-bottom: 8%;
}
.Page_principale{
    padding-left: 4%;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}