a {
    color: #fdcb46;
    text-decoration: none
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fdcb46;
    text-align: center;
    margin-top: 3%
}

.menu {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%
}

.image {
    border: 1 solid white;
    box-shadow: 6px 0px 16px 0px grey;
    transform: scale(0.8);
    transition-property: transform;
    transition-duration: 1000ms;
    transform-origin: top
}

.image:hover {
    transform: scale(1.12)
}
