article {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
    height: 1050px;
    width: 700px;
    background-color: rgb(237, 239, 239);
    border: 1px solid rgb(237, 239, 239);
    box-shadow: 2px 0px 16px 0px grey
}

.menu{
    padding: 5%;
    height: 1050px;
    width: 700px;
}

h2{
    display: flex;
    margin: auto;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-top: 3%
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
    background: -webkit-linear-gradient(-360deg, rgb(0, 34, 168), rgb(135, 237, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10%;
    margin-top: 10%;
}

h4{
    font-family: 'Caveat', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 25px;
    margin-top: 8%;
    margin-bottom: 5%;
}

p{
    font-family: 'Caveat', cursive;
    font-size: 22px;
    padding-left: 8%;
    padding-right: 8%;
}

.title_border{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.border_left{
    margin-top: 26px;
    float: left;
    width: 200px;
}

.border_right{
    margin-top: 29px;
    float: right;
    width: 200px;
}

.border_left2{
    margin-top: 26px;
    float: left;
    width: 200px;
}

.border_right2{
    margin-top: 29px;
    float: right;
    width: 200px;
}

.border_left3{
    margin-top: 27px;
    float: left;
    width: 200px;
}

.border_right3{
    margin-top: 29px;
    float: right;
    width: 200px;
}

.price{
    float: right;
    font-size: 25px;
}