article {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
    height: 1050px;
    width: 720px;
    background-color: rgb(255, 245, 254);
    border: 1px solid rgb(255, 245, 254);
    box-shadow: 2px 0px 16px 0px grey
}

.menu{
    padding: 5%;
    height: 1050px;
    width: 700px;
}

h2{
    display: flex;
    margin: auto;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-top: 3%
}

h3{
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    text-align: center;
    background: -webkit-linear-gradient(-360deg, rgb(170, 98, 16), rgb(143, 90, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10%;
    margin-top: 10%;
}

h4{
    text-align: center;
    font-size: 21px;
    margin-top: 12%;
    margin-bottom: 5%;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding-left: 7%;
    padding-right: 7%;
}

.title_border{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.border_left{
    margin-top: 37px;
    float: left;
    width: 200px;
}

.border_right{
    margin-top: 34px;
    float: right;
    width: 200px;
}

.border_left2{
    margin-top: 35px;
    float: left;
    width: 200px;
}

.border_right2{
    margin-top: 34px;
    float: right;
    width: 200px;
}

.border_left3{
    margin-top: 35px;
    float: left;
    width: 200px;
}

.border_right3{
    margin-top: 33px;
    float: right;
    width: 200px;
}

.appetit{
    color: rgb(170, 98, 16) ;
}

.papilles{
    color: rgb(168, 92, 153) ;
}

.sucrees{
    color: rgb(110, 76, 204);
}

.price{
    float: right;
}